{% extends 'base.html' %}
{% load static %}
{% block style %}
    .container
    {
        margin:0 auto;
        width:400px;
        margin-top:20px;
    }

{% endblock style %}
{% block content %}
    <div class="container">

        <form action="update" method="post">
        {% csrf_token %}
        <input type="text" name="firstname" placeholder="First name"><br>
        <input type="text" name="middlename" placeholder="Middle name"><br>
        <input type="text" name="lastname" placeholder="Last name"><br>
        <input type="text" name="empid" placeholder="Emp id"><br>
        <input type="number" name="mobile" placeholder="Ph no"><br>
        <input type="text" name="address" placeholder="address"><br>
        <input type="text" name="position" placeholder="Position"><br>
        <input type="submit" value="Update">
    </form>
    <a href="{% url 'home' %}">Back to home</a>
    </div>
{% endblock content %}